<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sk.yiqingmvc.dao.ChinaYiQingMapper">
    <select id="total" resultType="com.sk.yiqingmvc.model.ChinaYiQing">
        select
            IF(sum(addDiagnosis) is NULL,0, sum(addDiagnosis)) as diagnosis,
            IF(sum(cure) is NULL,0, sum(cure)) as cure,
            IF(sum(die) is NULL,0, sum(die)) as die,
            IF(sum(addSuspected) is NULL,0, sum(addSuspected)) as addSuspected,
            IF(sum(reduceSuspected) is NULL,0, sum(reduceSuspected)) as reduceSuspected,
            IF(sum(addICU) is NULL,0, sum(addICU)) as addICU,
            IF(sum(reduceICU) is NULL,0, sum(reduceICU)) as reduceICU
        from yiqing
    </select>
    <select id="dayAdd" resultType="com.sk.yiqingmvc.model.ChinaYiQing">
        select
            IF(sum(addDiagnosis) is NULL,0, sum(addDiagnosis)) as diagnosis,
            IF(sum(cure) is NULL,0, sum(cure)) as cure,
            IF(sum(die) is NULL,0, sum(die)) as die,
            IF(sum(addSuspected) is NULL,0, sum(addSuspected)) as addSuspected,
            IF(sum(reduceSuspected) is NULL,0, sum(reduceSuspected)) as reduceSuspected,
            IF(sum(addICU) is NULL,0, sum(addICU)) as addICU,
            IF(sum(reduceICU) is NULL,0, sum(reduceICU)) as reduceICU
        from yiqing where entryDate = CURDATE()
    </select>
</mapper>